<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Query Response Page</title>
	<link rel="stylesheet" href="{{url_for('static',filename='styles/querypage.css')}}">
</head>
<body>
	<div class="bg-image">
  		<div class="bg-text">
    		<h1 style="font-size:50px">CS527 DATABASE FOR DATA SCIENCE PROJECT</h1>
    		<p>Team 8</p>
  		</div>
	</div>


	<div class="img_container">
		<button class="btn" onclick="showimg()">Instacart ER-diagram</button>
		<img id = "img" src="instacart_er.png" alt="er_diagram" style="width:100%">
	</div>

	<div class="container">
		<form method="POST">
			<label style="color: #4CAF50;"><b>DBMS Type:</b></label><br><br>
			<input type="radio" id="mysql" name="dbms" value="MySQL">
			<label class="lb1" for="mysql">MySQL</label>
			<input type="radio" id="redshift" name="dbms" value="RedShift">
			<label class="lb1" for="redshift">RedShift</label>
			<input type="radio" id="mssql" name="dbms" value="MSSQL">
			<label class="lb1" for="mssql">MongoDB</label><br><br><br><br>


			<label style="color: #4CAF50;" for="subject"><b>Input</b></label>
    		<textarea id="subject" name="subject" placeholder="Enter your SQL Query..." style="height:200px"></textarea><br>
			<input type="submit" value="Submit">
        	<input type='button' onclick='location.reload();' value='Reset'><br><br>


		</form>
	</div>
	 <label class="outpt" style="color: #4CAF50;" for="subject"><b>Output</b></label><button class="btnDownload"><i class="fa fa-download"></i></button>
		<p style="color: blue" id="loading"></p>
		<p style="color: red" id="error"></p>
		<p id="timeelapsed"></p>
        <table border="1" style="margin-left:auto;margin-right: auto;" id="mytable"></table>
	</div>
	<script>
		const submitquery = async (e) => {
			e.preventDefault();

			var mysql = document.getElementById("mysql")
			var redshift = document.getElementById("redshift")
			var mssql = document.getElementById("mssql")

			if (mysql.checked == false && redshift.checked == false && mssql.checked == false) {
				document.getElementById("error").innerText = "Please Select a Database";
				return false;
			}

			var subject = document.getElementById("subject")

			if (subject.value == "") {
				document.getElementById("error").innerText = "Please Enter a Query";
				return false;
			}

			document.getElementById("error").innerText = "";
			document.getElementById("loading").innerText = "Loading...";

			try {
				let dbms;
				if (mysql.checked) dbms = 'MySQL';
				else if (redshift.checked) dbms = 'RedShift';
				else dbms = 'MSSQL';

				var data = JSON.stringify({
						dbms,
						subject: subject.value
					})
				const response = await fetch(window.location.protocol + '//' + window.location.host + "/submitquery", {
					method: "POST",
					headers: {
						'Content-Type': 'application/json'
					},
					body: data
				})

				const json = await response.json();
				const {output, time_elapsed} = json;
				document.getElementById("timeelapsed").innerText = `Time Elapsed: ${time_elapsed} seconds`
				createOutputTable(output)
				document.getElementById("loading").innerText = "";
			} catch (error) {
				document.getElementById("loading").innerText = "";
				document.getElementById("error").innerText = "An Error Occured! Try Again"
				document.getElementById("timeelapsed").innerText = ""
				document.getElementById("mytable").innerHTML = ""
			}

			return false;
		}

		const createOutputTable = (output) => {
			var mytable = document.getElementById("mytable");
			for(let i=0; i<output.length; i++) {
				let row = output[i];
				var tr = document.createElement("tr");
				for(let j=0; j<row.length; j++) {
					var td = document.createElement("td"); 
					td.innerText = row[j];
					tr.appendChild(td)
				}
				mytable.appendChild(tr);
			}
		}

		document.getElementById("queryform").onsubmit = submitquery;
	</script>
</body>
</html>
